.Card {

    min-height: 400px;
 
    position: relative;background: #00170b;
    padding: 30px;
    justify-content: start;
    justify-items: start;
    align-items: end;
    display: grid;
    @media screen and  (max-width:960px) {
        min-height: 350px;
    }
    @media screen and (max-width:450px) {
        min-height: 300px !important ;
        height: 300px !important;
        padding: 15px;   
        max-height: 300px !important;
    }
    img{    
        opacity: 0.3;
    }
    span {
        position: relative;
        z-index: 11;
        bottom: 0px;

        padding-bottom: 0px;
        text-align: left !important;
        display: grid;
        row-gap: 15px !important;
        @media screen and (max-width:1200px) {
            padding: 0px;
        @media screen and (max-width:450px) {
            margin:  0px !important;
        }
        }
        
        h2{
            color: var(--White, #F5F5F5) !important;

/* Description */
font-family: Geometria1 !important;
font-size: 16px !important;
font-style: normal;

text-align: left !important;
font-weight: 500 !important;
line-height: 130%; /* 36px */
@media screen and (max-width:960px) {
    font-size: 14px !important;
}

        }
        .swiperp{
            color: var(--White, #F5F5F5) !important;

/* Regular text */
font-family: Geometria !important;
font-size: 16px !important;
font-style: normal !important;
font-weight: 400 !important;
line-height: 130% !important; /* 24px */
@media screen and (max-width:454px) {
    font-size: 14px !important;
}
        }
    }
}

.Block {
    width: 1200px;
    margin: 0 auto;
justify-content: center;
div  {

@media (min-width:1264px) and (max-width:3000px) {
    width: 1400px;
}
}
@media screen and (max-width:1326px) {
    margin-left: 0px !important;
}
    @media screen and (max-width:1264px) {
        width: 100%;
       overflow: hidden;
       div{
        width: --webkit-fill-available;
       }
        .riBlock{
            display: none !important;
        }
    }
}