.Header {
    display: grid;
    margin: 0 auto;
    row-gap: 60px;
    padding-bottom: 60px;
    h2{
        color: #000;
text-align: center;

/* H2 */
font-family: Geometria;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 120%; 
margin: 0 auto;
margin-top: 60px;
/* 57.6px */
@media screen and (max-width:960px) {
    font-size: 36px;
    @media screen and (max-width:450px) {
        font-size: 24px;
    }
}
    }
    .Input {
        display: flex;
        gap: 30px;
        row-gap: 30px;

        @media screen and (max-width:754px) {
            display: grid;
gap: 15px;
        }

        @media screen and (max-width:754px) {
            input {
                width: 100% !important;
            }

            button {
                width: 100% !important;
            }
        }

        input {
            display: flex;
            width: 690px;
            padding: 15px 30px;
            align-items: center;
            gap: 10px;
            color: #000;
            outline: none;
            font-family: Geometria;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            height: 60px;
            
        }

        button {
            display: flex;
            width: 278px;
            padding: 15px 10px;
            justify-content: center;
            align-items: center;
            gap: 10px;
        border: none;
        background: var(--Green, #009345);
        color: var(--White, #F5F5F5);
font-family: Geometria;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;

            
        }
        @media screen and (max-width:1050px) {
            input{
                color: var(--White, #F5F5F5);
font-family: Geometria;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
color: #B3B3B3;
width:70%;
/* Regular text */
font-family: Geometria;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 20.8px */
height: 41px;

            }
            button {
                display: flex;
                padding: 10px 15px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                flex: 1 0 0;
                color: var(--White, #F5F5F5);
width: 260px;
/* Regular text */
font-family: Geometria;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 20.8px */
height: 41px;
        }        
    }
    }
    .contends {
        display: grid;
        gap: 60px;
        width: 100%;

        @media screen and (max-width:1243px) {
            width: auto;
        }

        h2 {
            color: #000;
            text-align: center;
            font-family: Geometria1;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;

            @media screen and (max-width:1044px) {

                font-size: 40px;
            }

            @media screen and (max-width:514px) {
                color: #000;
                text-align: center;

                /* Description */
                font-family: Geometria;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                /* 36px */
            }
        }

    }
}

.blockasdsdas {
    max-width: 1200px;
    width: 94% !important;
    margin: 0 auto;
}