.Header{
    background: var(--Green, #009345);
    width: 100%;
    margin: 0 auto;
    .block{
        color: #fff;
        padding: 80px 0px;
        display: grid;
        row-gap: 20px;
        h2{
            color: var(--White, #F5F5F5);
font-family: Geometria1;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 76.8px */
        }
        p{
            color: var(--White, #F5F5F5);
font-family: Geometria;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
        }
    }
}