.Header{
    padding-bottom: 60px;
    padding-top: 60px;

    display: grid;
    row-gap: 60px;
    ul{
        display: flex;
        gap: 60px;
        margin: 0 auto;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 30px ;
        li{
            list-style: none;
            color: var(--Black, #001A0C);
font-family: Geometria;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
cursor: pointer;
        }
    }
}