.Card{
    display: grid;
    grid-template-columns: 2fr 2fr ;
    justify-content: space-evenly;
    position: relative;
    align-items: center;
    gap: 200px;
@media screen and (max-width:1100px) {
    gap: 100px;
}

@media screen and (max-width:583px) {
    grid-template-columns: 2fr ;
    padding-left: 114px;
    row-gap: 42px;
    @media screen and (max-width:542px) {
        padding-left: 77px;
    }

    }
    
.p1     {
    color: var(--Black, #001A0C);
    text-align: right;

/* H2 */
font-family: Geometria1;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 120%; 
@media screen and (max-width:583px) {
  
        display: none !important;
    
}
}
.p2{
    color: var(--Black, #001A0C);
    text-align: left;
    
    font-family: Geometria1;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
display: block !important;
    @media screen and (max-width:583px) {
        display: none !important;
    
}

}

    span {
        display: grid;
        row-gap: 15px;
        text-align: left;
        @media screen and (max-height:583px) {
        text-align: left;
    }
        h2 {
            color: var(--Black, #001A0C);

            font-family: Geometria1;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            @media screen and (max-width:769px) {
            font-size: 20px !important;
            }
        }
        p{
            padding: 0;
            margin: 0;
            color: var(--Black, #000);
            font-family: Geometria;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; 
        }
    }
    .s2{
        text-align: right;
        @media screen and (max-width:583px) {
  
            text-align: left;
         }
        p{
            padding: 0;
            margin: 0;
            
        }
    }
    @media screen and (max-width:583px) {
  h3{
    display: none !important;
  }
}
@media screen and (max-width:498px) {
    span{
        h2{
            font-size: 16px !important ;
        }
        p{
            font-size: 14px !important;
        font-weight: 400 !important;
        }
    }
}

}
.Header{
    display: grid;
    row-gap: 66px ;
    @media screen and (max-width:1100px) {
        gap: 60px;
    }
    
 @media screen and (max-width:498px) {
row-gap: 15px;
 }
    .btn_bar{
        margin: 0 auto;
        max-width: 710px;
        width: 100%;
        padding: 26px;
        color: var(--White, #F5F5F5);
        font-family: Geometria;
        font-size: 16px;
        font-weight: 400;
        background: var(--Green, #009345);
        border: none;
        margin-top: -40px;
        @media screen and (max-width:498px) {
            padding: 15px;
            font-size: 15px;
            font-size: 500;
            margin-top: 0px ;
        }
    }
 
}
.test{
    position: absolute;
    width: 10px;
    height: 816px;
    left: 50%;
    border-radius: 10px;
    margin-top: 40px;
    @media screen and (max-width:583px) {
        left: 30px;  
        margin-top: 20px;
        margin-left: 46px;
    }
    @media screen and (max-width:910px) {
        height: 859px;
        @media screen and (max-width:850px) {
            height: 886px;
            @media screen and (max-width:746px) {
                height: 920px;
                @media screen and (max-width:680px) {
                    height: 953px;
                    @media screen and (max-width:607px) {
                        height: 996px;   
                        @media screen and (max-width:583px) {
                            height: 799px;
                            @media screen and (max-width:568px) {
                                height: 817px;
                                @media screen and (max-width:598px) {
                                    height: 500px;
                                    left: 8px;
                                    @media screen and (max-width:466px) {
                                        height: 538px;
                                    }   
                                    
                                }
                            }   
                        }
                    }
                }
            }
        }
    }

   
background: #D9D9D9;
div{
      
        max-height: 100%;
        width: 100%;
        z-index: 1;
        position: absolute;
        border-radius: 10px;
        background: var(--Green, #009345);
        
    }
    span {
        width: 300px;
        row-gap: 122px;
        position: relative;
        z-index: 2;
        display: grid;
        svg{
            margin-left: -20px;
            margin-top: -23px;
            width: 50px;
            filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.15));
            
            @media screen and (max-width:680px) {
                margin-left: -18px !important;
                width: 45px !important;
            }
        }
        
        @media screen and (max-width:910px) {
            row-gap: 130px;
        @media screen and (max-width:850px) {
            row-gap: 137px;
            @media screen  and  (max-width:746px) {
                row-gap: 143px;
                @media screen and (max-width:680px) {
                    row-gap: 149px;
                    @media screen and (max-width:607px) {
                        row-gap: 157px;
                        @media screen and (max-width:583px) {
                            row-gap: 119px;    
                            @media screen and (max-width:568px) {
                                row-gap: 124px;
                                @media screen and (max-width:498px) {
                                    row-gap: 58px;
                                    @media screen and (max-width:482px) {
                                        row-gap: 64px;
                                        @media screen and (max-width:466px) {
                                            row-gap: 69px;
                                        }
                                    }
                                }
                            }
                        }   
                    }
                }
            }
        } 
        }
    }
    
  
}
.winScr{
    svg{
        margin-left: -24px !important;
        width: 60px !important;
        @media screen and (max-width:680px) {
            width: 50px !important;
            margin-left: -20px !important;
        }
    }
}