.Card{
    display: grid;
    grid-template-columns: 2fr 2fr ;
    justify-content: space-evenly;
    position: relative;
    align-items: center;

gap: 100px;
@media screen and (max-width:571px) {
    grid-template-columns: 2fr ;
    padding-left: 80px;
    row-gap: 42px;
    }
    
.p1     {
    color: var(--Black, #001A0C);
text-align: right;

/* H2 */
font-family: Geometria1;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 57.6px */
@media screen and (max-width:571px) {
  
        display: none !important;
    
}
}
.p2{
    color: var(--Black, #001A0C);
    text-align: left;
    
    /* H2 */
    font-family: Geometria1;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 57.6px */
    @media screen and (max-height:571px) {
  
        display: none !important;
    
}
}

    span {
        display: grid;
        row-gap: 15px;
        text-align: left;
        @media screen and (max-height:571px) {
  
       text-align: left;
    }
        h2 {
            color: var(--Black, #001A0C);

            /* Description */
            font-family: Geometria1;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%; /* 36px */
        }
        p{
            padding: 0;
            margin: 0;
            color: var(--Black, #001A0C);

            /* Regular text */
            font-family: Geometria;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%; /* 24px */
        }
    }
    .s2{
        text-align: right;
        @media screen and (max-width:571px) {
  
            text-align: left;
            margin: 0 auto;
         }
        p{
            padding: 0;
            margin: 0;
            
        }
    }
    @media screen and (max-width:571px) {
  h3{
    display: none !important;
  }
       
    
}
@media screen and (max-width:450px) {
    span{
        h2{
            font-size: 16px !important ;
        }
        p{
            font-size: 14px !important;
        font-weight: 900 !important;
        }
    }
}

}
.Header{
    display: grid;
    row-gap: 60px ;
 @media screen and (max-width:450px) {
row-gap: 15px;
 }
    .btn_bar{
        margin: 0 auto;
        max-width: 700px;
        width: 100%;
        padding: 26px;
        color: var(--White, #F5F5F5);
        font-family: Geometria;
        font-size: 16px;
        font-weight: 400;
        background: var(--Green, #009345);
        border: none;
        @media screen and (max-width:450px) {
            padding: 15px;
            font-size: 15px;
        }
    }
 
}
.test{
    position: absolute;
    width: 10px;
    height: 816px;

    left: 50%;
    
    border-radius: 10px;
    margin-top: 40px;
    @media screen and (max-width:571px) {
        left:  30px;      }

   
background: #D9D9D9;
div{
      
       max-height: 100%;
        width: 100%;
        z-index: 1;
        position: absolute;
        border-radius: 10px;
background: var(--Green, #009345);
        
    }
    span {
        width: 300px;
        row-gap: 81px;
        position: relative;
        z-index: 2;
        display: grid;
        svg{
            margin-left: -40px;
            margin-top: -43px;
            width: 90px;
        }
    }
    @media screen and (max-width:815px) {
        height: 922px;
        span {
            row-gap: 107px;
        }
        @media screen and (max-width:640px) {
            height: 1004px;
            span {
                row-gap: 121px;
            }
          
            @media screen and (max-width:590px) {
                height: 1091px;

                span{
                    row-gap: 137px;
                }
                @media screen and (max-width:571px) {
                    height: 795px;
                    span{
                        row-gap: 77px;
                    }
                    @media screen and (max-width:523px) {
                        height: 832px;
                    span {
                        row-gap: 83px ;
                    }
                     @media screen and (max-width:501px) {
                        height: 870px;
                        span {
                            row-gap: 90px;
                        }
                        
                     }
                }
                }
@media screen and (max-width:463px) {
    height: 882px;
    
    span {
        row-gap: 95px;
    }
@media screen and (max-width:450px) {
    height: 924px;
    height: 525px;
    margin-left: 23px;
    span {
        row-gap: 23px;
    }
    @media screen and (max-width:421px) {
        height: 570px;
    span {
        row-gap: 30px;
    }
    }
    @media screen and (max-width:394px) {
        
        height: 575px;
        span {
            row-gap: 32px;
        }
        @media screen and (max-width:450px ) {
            height: 611px !important;
            span {
                row-gap: 39px !important;
            }   
        }
    }
  
}
}



            }
        }
    }
}