.Card{
    
    height: 300px;
background: var(--Black, #001A0C);
color: #fff ;
align-items: center;
    text-align: center;
    display: grid;
    @media screen and (max-width:675px) {
        height: 250px;
    @media screen and (max-width:475px) {
        height: 200px;
    }
    }
    .image{
        position: absolute;
    }
}
.Block{
    max-width:1200px;
    overflow: hidden;
     
        @media screen and (max-width:1264px) {
     width: 100%;   
    }
}