.Card{
    
    height: 300px;
background: var(--Black, #001A0C);
color: #fff ;
align-items: center;
    text-align: center;
    display: grid;
    @media screen and (max-width:675px) {
        height: 250px;
    @media screen and (max-width:475px) {
        height: 200px;
    }
    }
    .image{
        position: absolute;
    }
}
.Block{
    
     padding-top: 30px;
    
     padding-bottom: 30px;
    @media (min-width:1244px) and  (max-width:3000px) {
        width:1400px;
    }
    @media screen and  (max-width:1244px) {
        min-width: 100% !important;
    }
    @media screen  and  (max-width:1219px) {
                padding-left: 30px;
        }
     @media screen and (max-width:450px) {
        padding-top: 15px;
        padding-bottom: 15px;
     }
     
    
    // .SwiperCard{
    //     width: 1300px;
    //     @media screen and (max-width:1258px) {
    //         width: 100% !important;
    //     }
    // }
}