.header {
    padding: 60px 0px;
    display: grid;
    row-gap: 60px;width: 100%;
    padding: 30px;
    justify-content: center;
    @media screen and (max-width:1250px) {
        justify-content: normal;
    }
@media screen and (max-width:450px) {
    row-gap: 30px;
    padding: 30px 30px;
}
    .span {
        display: grid;
        row-gap: 30px;
        text-align: center;
        max-width: 1200px;
        margin: 0 auto;
        h2 {
            color: #000;
            text-align: center;

            /* H2 */
            font-family: Geometria1;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;

            /* 57.6px */
            @media screen and (max-width:510px) {
                font-size: 36px;
                @media screen and (max-width:452px) {
                    font-size: 24px;
                    
                }
            }
            p {
                color: #000;
                text-align: center;
                font-family: Geometria;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
            }
        }
    }
}
.block1{
    background-color: #001A0C;
    color: #fff;
    justify-content: center;
    text-align: center;
    padding: 30px;
    position: relative;
    width: 1200px;
    margin: 0 auto;
@media screen and (max-width:1244px) {
    width: 100%;
}    
p{
        padding: 30px 0px;
        color: #FFF;
        text-align: center;
        font-family: Geometria;
        font-size: 16px;
        font-weight: 400;
        line-height: 130%; 
        z-index: 2;
        position: relative;
    }
    img{
        opacity: .3;
    }
    h2{
        z-index: 2;
        padding: 30px 0px;
        color: var(--White, #F5F5F5);
        text-align: center;
        position: relative;
        /* H3 */
        font-family: Geometria1;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 43.2px */
@media screen and (max-width:386px) {
    font-size: 30px;
}
    }
    form{
        max-width: 600px;
        margin: 0 auto;
        display: grid;
        row-gap: 30px;
        position: relative;
        z-index: 2;
        
        input{
   
            width: 100%;
            padding: 15px 20px;
            align-items: flex-start;
            gap: 10px;
            color: #B3B3B3;
            text-align: left;
            
            /* Regular text */
            font-family: Geometria;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 24px */
            border: 1px solid #CCC;
            background: #FFF;
            outline: none;
            }
            button{
                display: flex;
            width: 100%;
            padding: 15px 20px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            color: var(--Black, #001A0C);
            text-align: center;
            
            /* Regular text */
            font-family: Geometria;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 24px */
            border: none;
            }
    }
}
// .FAQAccordionPage{
//     max-width: 1200px;
//     margin: 0 auto;
//     }

.FAQAccordionPage{
    margin: 0 auto;
justify-self: center;
width: 99vh;
position: relative;
display: flex;
justify-content: center;
padding: 0px 30px;
}
.button{
    display: flex;
width: 260px;
height: 60px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;background: var(--Green, #009345);
margin: 0 auto;color: var(--White, #F5F5F5);
font-family: Geometria;
font-size: 16px;
font-style: normal;
font-weight: 400;
border: none;
line-height: normal;
}
.h22{
    color: #000;
    text-align: center;
    
    /* H2 */
    font-family: Geometria;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 57.6px */
    padding: 0px 30px;
    @media screen and (max-width:950px) {
        font-size: 36px;
        @media screen and (max-width:450px) {
            font-size: 24px;
        }
    }
}
.top{
    display: none;
    @media screen and (max-width:450px) {
        display: block;
    }
}