
.Cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    width: 100%;
    @media screen and (max-width:1114px) {
        grid-template-columns: 1fr 1fr ;
    }
    @media screen and (max-width:650px) {
        grid-template-columns: 1fr;
    }
    a{
        background: #E6E6E6;
        padding: 30px;
        display: grid;
        row-gap: 15px;
        width: 100%;
        text-decoration: none   ;
        p{
            color: #000;

/* Description */
font-family: Geometria;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 36px */
        }
        span{
            color: #000;

/* Regular text */
font-family: Geometria;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
        }
        @media screen and (max-width:676px) {
            p{
                font-size: 20px;
            }
            span {
                font-size: 15px;
            }
        }
        @media screen and (max-width:569px) {
            p{
                font-size: 24px;
                
            }
            span {
                font-size: 16px;
            }
            @media screen and (max-width:450px) {
                row-gap: 0px;
                p{
                    font-size: 16px;
                }
                span {
                    font-size: 14px;
                }
            }
        }
    }
}