.Header {
    display: grid;
    row-gap: 60px;
width: 100%;
    .block {
        display: grid;
        row-gap: 60px;
width: 100%;
       
        .Navigation{
            display: flex;
            text-align: left;
            gap: 60px;
            justify-content: center;
            li{
                list-style: none;
                color: var(--Black, #001A0C);
font-family: Geometria;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
&:hover {
    border-bottom: 1px solid #001A0C;
    transition: 0.7s;
}
            }
        }
   
    }
}
.accNone{
    display: none;

}
.acc{
    display: block;
    width: 100%;
}
.accliAcc{
    border-bottom: 1px solid black;
}