.Header {
    display: grid;
    row-gap: 60px;

    .block {
        display: grid;
        row-gap: 60px;
@media screen and (max-width:450px) {
    row-gap: 0px;
}
        .Navigation {
            display: flex;
            text-align: left;
            gap: 60px;
            justify-content: center;
            flex-wrap: wrap;
            row-gap: 30px;
@media screen and (max-width:450px) {
    display: grid;
    justify-content: left;
    padding-bottom: 60px;
}
            li {
                list-style: none;
                color: var(--Black, #001A0C);
                font-family: Geometria;
                font-size: 16px;
                font-style: normal;
              
                line-height: normal;

                &:hover {
                    border-bottom: 1px solid #001A0C;
                    transition: 0.7s;
                }
            }
        }

    }
}

.accNone {
    display: none;

}

.acc {
    display: block;
    max-width: 1200px;
    margin:  auto;
    
  @media screen and (max-width:1238px) {
    margin: 0 30px;
  }}

.accliAcc {
    border-bottom: 1px solid black;
}
.accs{
    display: block;
}