.block1 {
    display: block;
    // background: linear-gradient(90deg, rgba(0, 26, 12, 0.60) 0%, rgba(0, 26, 12, 0.00) 100%), linear-gradient(0deg, rgba(0, 26, 12, 0.70) 0%, rgba(0, 26, 12, 0.70) 100%), url(/images/bg.jfif), lightgray 50% / cover no-repeat;
    position: relative;

    // background: linear-gradient(90deg, rgba(0, 26, 12, 0.60) 0%, rgba(0, 26, 12, 0.00) 100%), linear-gradient(0deg, rgba(0, 26, 12, 0.70) 0%, rgba(0, 26, 12, 0.70) 100%), ;

    background: var(--Green, #01170b);

    .bg {
        width: 100%;
        position: absolute;
        height: 100%;
        background-color: #001A0CB2;
        opacity: 0.2;
    }

    .block1Info {
        padding: 90px 0px;
        position: relative;
        opacity: 1;
        z-index: 1;
        color: #fff;
        display: grid;
        row-gap: 30px;

        h1 {
            color: var(--White, #F5F5F5);

            font-size: 64px;
            font-style: normal;
            font-weight: revert-layer;
            line-height: 120%;
            font-weight: 700;
            font-family: Geometria1;

        }

        p {
            color: var(--White, #F5F5F5);
            font-family: Geometria;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        button {
            display: flex;
            width: 260px;
            height: 60px;
            padding: 10px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;
            color: var(--Black, #001A0C);
            font-size: 16px;
        }
       

        @media screen and (max-width:766px) {
            h1 {
                font-size: 48px;
            }

            p {
                font-size: 22px;
            }

            @media screen and (max-width:585px) {
                h1 {
                    font-size: 40px;
                }

                p {
                    font-size: 18px;
                }

                @media screen and (max-width:485px) {
                    h1 {

                        font-size: 24px;
                    }

                    p {
                        font-size: 16px;
                    }

                    button {
                        display: flex;
                        width: 220px;
                        padding: 10px 20px;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        color: var(--Black, #001A0C);

                        /* Regular text */
                        font-family: Geometria;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 150%;
                        /* 24px */
                    }
                }
            }

        }
    }
}

.block2 {
    display: block;
    row-gap: 30px;

    p {
        color: var(--Black, #001A0C);
        text-align: center;

        /* Description */
        font-family: Geometria1;
        font-size: 24px;
        font-style: normal;
        font-weight: 000;
        line-height: 150%;

        /* 36px */
        @media screen and (max-width:1118px) {
            font-size: 18px;

            br {
                display: none;
            }

            @media screen and (max-width:568px) {
                font-size: 15px;
            }
        }
    }

}

.block3 {
    margin: 0 auto;
    display: grid;
    text-align: center;
    position: relative;
    row-gap: 60px;
    width: 100%;

    @media screen and (max-width:1243px) {
        padding-left: 30px;
        padding-right: 30px;
        max-width: 1200px;

    }


    h3 {
        color: var(--Black, #001A0C);
        text-align: center;

        font-family: Geometria1;
        padding: 00px 30px;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
    }

    p {
        color: var(--Black, #001A0C);
        padding: 00px 30px;
        /* Description */
        font-family: Geometria;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 36px */
    }

    @media screen and (max-width:976px) {
        h3 {
            font-size: 40px;
        }

        p {
            font-size: 20px;
        }

        @media screen and (max-width:500px) {
            h3 {
                font-size: 35px;
            }

            @media screen and (max-width:430px) {
                h3 {
                    font-size: 24px;
                }

                p {
                    font-size: 16px;
                }
            }
        }
    }

    .block2Info {
        margin: 0 auto;
        display: flex;
        width: 100%;
        justify-content: left;
    }

    .block2Image {
        width: 700px;
        height: 800px;
        position: absolute;
        margin-top: 50px;
        z-index: 0;
        right: 0px;

        @media screen and (max-width:1300px) {
            width: 600px;
            height: 700px;
            position: absolute;
            margin-top: 141px;
            z-index: 0;
            right: 0px;

            @media screen and (max-width:1243px) {
                display: none;
            }
        }
    }

}

.block4 {
    text-align: center;
    display: grid;
    row-gap: 30px;
    position: relative;

    h3 {
        color: var(--Black, #001A0C);
        text-align: center;

        /* H2 */
        font-family: Geometria1;
        font-size: 48px !important;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        /* 57.6px */

    }

    p {
        color: var(--Black, #001A0C);
        font-family: Geometria;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;

        span {
            font-family: Geometria1;
        }


    }


    span {
        color: var(--Black, #001A0C);
        text-align: center;
        /* Regular text */
        font-family: Geometria;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        /* 24px */
    }

    button {
        display: flex;
        width: 260px;
        height: 60px;
        padding: 10px;
        justify-content: center;
        margin: 0 auto;
        align-items: center;
        gap: 10px;
        border: none;
        cursor: pointer;
        background: var(--Green, #009345);

        color: var(--White, #F5F5F5);
        font-family: Geometria;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    @media screen and (max-width:800px) {
        h3 {
            font-size: 36px !important;
        }

        p {
            font-size: 20px;
        }

        @media screen and (max-width:500px) {
            h3 {
                font-size: 30px !important;
            }

            @media screen and (max-width:428px) {
                h3 {
                    font-size: 24px !important;
                }

                p {
                    font-size: 16px;
                }
            }
        }
    }
}

.block5 {
    display: grid;

    row-gap: 60px;

    @media screen and (max-width:1238px) {
        max-width: 1200px auto;
    }

    h3 {
        color: var(--Black, #001A0C);
        text-align: center;

        /* H2 */
        font-family: Geometria1;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        /* 57.6px */
    }

    @media screen and (max-width:800px) {
        h3 {
            font-size: 36px !important;
        }

        p {
            font-size: 20px;
        }

        @media screen and (max-width:500px) {
            h3 {
                font-size: 30px !important;
            }

            @media screen and (max-width:428px) {
                h3 {
                    font-size: 24px !important;
                }

                p {
                    font-size: 16px;
                }
            }
        }
    }

    div {
        width: 100%;
        overflow: scroll;
    }

    button {
        display: flex;
        width: 260px;
        height: 60px;
        padding: 10px;
        justify-content: center;
        margin: 0 auto;
        align-items: center;
        gap: 10px;
        border: none;
        cursor: pointer;
        background: var(--Green, #009345);

        color: var(--White, #F5F5F5);
        font-family: Geometria;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.block6 {
    display: grid;
    width: -webkit-fill-available;
    row-gap: 60px;

    h3 {
        color: var(--Black, #001A0C);
        text-align: center;
        font-family: Geometria1;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;

    }

    @media screen and (max-width:800px) {
        h3 {
            font-size: 36px !important;
        }

        p {
            font-size: 20px;
        }

        @media screen and (max-width:500px) {
            h3 {
                font-size: 30px !important;
            }

            @media screen and (max-width:428px) {
                h3 {
                    font-size: 24px !important;
                }

                p {
                    font-size: 16px;
                }
            }
        }
    }
}

.block7 {

    display: flex;
    width: 1200px;
    padding: 30px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;


    background: #009345;

    @media screen and (max-width:1254px) {
        width: -webkit-fill-available;

        @media screen and (max-width:998px) {
            display: grid;
            grid-template-columns: 2fr;
            row-gap: 60px;

        }
    }

    .block7Info {
        width: 495px;
        display: grid;
        color: var(--White, #F5F5F5);
        gap: 30px;

        h2 {


            /* H2 */
            font-family: Geometria1;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
            /* 57.6px */
        }

        p {


            /* Description */
            font-family: Geometria;
            font-size: 24px;
            font-style: normal;
            font-weight: 550;
            line-height: 150%;

            /* 36px */
            span {

                font-family: Geometria1;
                font-size: 24px;

                font-weight: 700;

            }
        }

        @media screen and (max-width:1082px) {
            width: 400px;

            @media screen and (max-width:998px) {
                width: 100%;

                @media screen and (max-width:600px) {

                    h2 {
                        font-size: 36px;

                        @media screen and (max-width:400px) {
                            font-size: 30px;
                        }
                    }

                    p {
                        font-size: 16px;

                        span {
                            font-size: 16px;
                        }
                    }
                }
            }

           
        }

    }

    .fromInput {
        width: 450px;

        @media screen and (max-width:998px) {
            width: 100%;

        }
    }
}

.main {
    display: grid;
    gap: 60px;
}

.block4Images {
    position: relative;
    width: 700px !important;
    height: 500px;
    margin: 0 auto;

    @media screen and (max-width:760px) {
        width: 600px !important;
        height: 500px;

        @media screen and (max-width:668px) {
            width: 500px !important;
            height: 400px;

            @media screen and (max-width:560px) {
                width: 400px !important;
                height: 300px;

                @media screen and (max-width:450px) {
                    width: 300px !important;
                    height: 200px;
                }
            }
        }
    }
}