.block1 {
    display: block;
    // background: linear-gradient(90deg, rgba(0, 26, 12, 0.60) 0%, rgba(0, 26, 12, 0.00) 100%), linear-gradient(0deg, rgba(0, 26, 12, 0.70) 0%, rgba(0, 26, 12, 0.70) 100%), url(/images/bg.jfif), lightgray 50% / cover no-repeat;
    position: relative;

    // background: linear-gradient(90deg, rgba(0, 26, 12, 0.60) 0%, rgba(0, 26, 12, 0.00) 100%), linear-gradient(0deg, rgba(0, 26, 12, 0.70) 0%, rgba(0, 26, 12, 0.70) 100%), ;

    background: var(--Green, #01170b);

    .bg {
        width: 100%;
        position: absolute;
        height: 100%;
        background-color: #001A0CB2;
        opacity: 0.25;
    }

    .block1Info {
        padding: 90px 0px;
        position: relative;
        opacity: 1;
        z-index: 1;
        color: #fff;
        display: grid;
        row-gap: 30px;
        border-radius: 0px ;
        @media screen and (max-width:450px) {
            row-gap: 15px;
        }

        h1 {
            color: var(--White, #F5F5F5);

            font-size: 64px;
            font-style: normal;
            font-weight: revert-layer;
            line-height: 120%;
            font-weight: 700;
            font-family: Geometria1;

        }

        p {
            color: var(--White, #F5F5F5);
            font-family: Geometria;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            @media screen and (max-width:450px) {
                font-size: 13px;
            }
        }

        button {
            display: flex;
            width: 260px;
            height: 60px;
            padding: 10px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;
            color: var(--Black, #001A0C);
            font-size: 16px;
            @media screen and (max-width:450px) {
                height: 45px;
                margin-top: 15px;
        
            }
         a{color: var(--Black, #001A0C);
            font-family: Geometria;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
         @media screen and (max-width:450px) {
            font-size: 14px;
         
            
         }
        }
        }
       

        @media screen and (max-width:766px) {
            h1 {
                font-size: 48px;
            }

            p {
                font-size: 22px;
            }

            @media screen and (max-width:585px) {
                h1 {
                    font-size: 40px;
                }

                p {
                    font-size: 18px;
                }

                @media screen and (max-width:485px) {
                    h1 {

                        font-size: 24px;
                    }

                    p {
                        font-size: 14px;
                        line-height: 150%;
                    }

                    button {
                        display: flex;
                        width: 220px;
                        padding: 10px 20px;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        color: var(--Black, #001A0C);

                        /* Regular text */
                        font-family: Geometria;
                        font-size: 14px;
                        font-style: normal;
                      
                        line-height: 150%;
                        /* 24px */
                    }
                }
            }

        }
    }
}

.block2 {
    display: block;
    row-gap: 30px;
    @media screen and (max-width:450px) {
        padding: 30px 0px ;
        
    }

    p {
        color: var(--Black, #001A0C);
        text-align: center;

        /* Description */
        font-family: Geometria;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;

        @media screen and (max-width:1118px) {
            font-size: 18px;

            br {
                display: none;
            }

            @media screen and (max-width:568px) {
                font-size: 15px;
                @media screen and (max-width:376px) {
                    font-size: 14px;
                }
            }
        }
    }

}

.block3 {
    margin: 0 auto;
    display: grid;
    text-align: center;
    position: relative;
    row-gap: 60px;
    width: 100%;
    @media screen and (max-width:450px) {
        padding: 30px 0px ;
        
    }

    @media screen and (max-width:1243px) {
        padding-left: 30px;
        padding-right: 30px;
        max-width: 1200px;
        @media screen and (max-width:450px) {
            row-gap: 30px;
        }

    }


    h3 {
        color: var(--Black, #001A0C);
        text-align: center;

        font-family: Geometria1;
        padding: 00px 30px;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        @media screen and (max-width:960px) {
            font-size: 36px;
        }
         @media screen and (max-width:450px) {
            font-size: 24px;
            padding:0 ;
         }
    }

    .block3p{
        color: var(--Black, #001A0C);
        padding: 00px 30px;
        /* Description */
        font-family: Geometria;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 36px */
        @media screen and (max-width:960px) {
            font-size: 16px;
        }
        @media screen and  (max-width:450px) {
            display: none;
        }
    }

    @media screen and (max-width:976px) {
        h3 {
            font-size: 36px;
        }

        p {
            font-size: 20px;
        }

        @media screen and (max-width:500px) {
            h3 {
                font-size: 35px;
            }

            @media screen and (max-width:450px) {
                h3 {
                    font-size: 24px;
                }

                p {
                    font-size: 16px;
                }
            }
        }
    }

    .block2Info {
        margin: 0 auto;
        display: flex;
        width: 100%;
        justify-content: left;
    }

    .block2Image {
       display: grid;
       row-gap: 30px;
    }

}

.block4 {
    text-align: center;
    display: grid;
    row-gap: 60px;
    position: relative;
@media screen and (max-width:450px) {
    row-gap: 30px;
}
@media screen and (max-width:450px) {
    padding: 30px 0px ;
    
}
    h3 {
        color: var(--Black, #001A0C);
        text-align: center;

        /* H2 */
        font-family: Geometria1;
        font-size: 48px !important;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        /* 57.6px */
        span{
            color: var(--Black, #001A0C);
            text-align: center;
    
            /* H2 */
            font-family: Geometria1;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
        }

    }

    p {
        color: var(--Black, #001A0C);
        text-align: center;
        font-family: Geometria;
        font-size: 24px;
        font-style: normal;
      
        line-height: 150%; 

        span {
            color: var(--Black, #001A0C);
            font-family: Geometria1;
            font-weight: 700;
            line-height: 150%;
            font-size: 24px;
            padding-right: 5px;
        }


    }


    span {
        color: var(--Black, #001A0C);
        text-align: center;
        /* Regular text */
        font-family: Geometria;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 24px */
        @media screen and (max-width:450px) {
            font-size: 13.1px;
        }
    }

    button {
        display: flex;
        width: 260px;
        height: 60px;
        padding: 10px;
        justify-content: center;
        margin: 0 auto;
        align-items: center;
        gap: 10px;
        border: none;
        cursor: pointer;
        background: var(--Green, #009345);

        color: var(--White, #F5F5F5);
        font-family: Geometria;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
//ters
    @media screen and (max-width:800px) {
        h3 {
            font-size: 36px !important;
             @media screen and (max-width:500px) {
                 
                br{display: none;}
                }
            span{
                font-size: 36px !important;
                @media screen and (max-width:500px) {
                    display: none;
                }
            }
        }

        p {
            font-size: 20px;
        }

        @media screen and (max-width:500px) {
            h3 {
                font-size: 30px !important;
            }

            @media screen and (max-width:428px) {
                h3 {
                    font-size: 24px !important;
                }

                p {
                    font-size: 14px;

                    span{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.block5 {
    display: grid;
    @media screen and (max-width:450px) {
        padding: 30px 0px ;
        gap: 30px;
    }
    @media screen and (max-width:1238px) {
        max-width: 1200px auto;
    }

    h3 {
        color: var(--Black, #001A0C);
        text-align: center;
        font-family: Geometria1;
        font-size: 48px;
        font-weight: 700;
        line-height: 120%;
        padding:60px 0 62px;
        @media screen and (max-width:450px) {
            padding: 30px 0 32px;
            padding: 0;
        }
    }

    @media screen and (max-width:800px) {
        h3 {
            font-size: 36px !important;
        }

        p {
            font-size: 20px;
        }

        @media screen and (max-width:500px) {
            h3 {
                font-size: 30px !important;
            }

            @media screen and (max-width:428px) {
                h3 {
                    font-size: 24px !important;
                }

                p {
                    font-size: 16px;
                }
            }
        }
    }

    

    button {
        display: flex;
        width: 260px;
        height: 60px;
        padding: 10px;
        justify-content: center;
        margin: 0 auto;
        align-items: center;
        gap: 10px;
        border: none;
        cursor: pointer;
        margin-top: 60px;
        @media screen and (max-width:960px) {
            margin-top: 30px;
            @media screen and (max-width:450px) {
                margin-top: 0px;
            }
        }
        background: var(--Green, #009345);

        color: var(--White, #F5F5F5);
        font-family: Geometria;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @media screen and (max-width:450px) {
            display: flex;
width: 220px;
justify-content: center;
align-items: center;
height: 45px;
gap: 10px;
a{
    
padding: 10px 20px;
}
        }
    }
}

.block6 {
    display: grid;
    width: -webkit-fill-available;
    row-gap: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (max-width:450px) {
        row-gap: 15px;
 }
 @media screen and (max-width:450px) {
    padding: 30px 0px ;
    
}
    h3 {
        color: var(--Black, #001A0C);
        text-align: center;
        font-family: Geometria1;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;

    }
    .testasd    {
        color: #000;
        text-align: center;
        font-family: Geometria;
        font-size: 16px;
        font-style: normal;
      
        line-height: 150%; 
    }

    @media screen and (max-width:800px) {
        h3 {
            font-size: 36px !important;
        }

        p {
            font-size: 20px;
        }

        @media screen and (max-width:500px) {
            h3 {
                font-size: 30px !important;
            }

            @media screen and (max-width:428px) {
                h3 {
                    font-size: 24px !important;
                }

                p {
                    font-size: 16px;
                }
            }
        }
    }
}

.block7 {
    display: grid;
    width: 1200px;
    padding: 60px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    background: #009345;
gap: 30px;
grid-template-columns: 1fr 1fr;

    @media screen and (max-width:1254px) {
            width: -webkit-fill-available;
padding: 30px;
        @media screen and (max-width:844px) {
            display: grid;
            grid-template-columns: 2fr;
            row-gap: 60px;padding: 30px;
            @media screen and (max-width:450px) {
                padding: 30px;
            row-gap: 30px;
            }

        }
    }

    .block7Info {
        max-width: 495px;
        display: grid;
        color: var(--White, #F5F5F5);
        gap: 30px;

        h2 {
            font-family: Geometria1;
            font-size: 48px;
            font-weight: 700;
            line-height: 120%;
            @media screen  and (max-width:978px) {
                font-size: 36px;
                
            }
            @media screen and (max-width:450px) {
                font-weight: 200;
                letter-spacing: 150%;
                line-height: 150%;
                font-size: 24px !important;
            }
        }

        p {
            font-family: Geometria;
            font-size: 24px;
            font-weight: 40;
            line-height: 150%;

            span {

                font-family: Geometria1;
                font-size: 24px;
                font-weight: 700;

            }
            @media screen and (max-width:978px) {
                font-size: 16px;
                span {
                    font-size: 16px;
                
                }
            @media screen and (max-width:450px) {
                font-size: 14px;
                span{
                    font-size: 14px;
                }
            }
            }
        }

        @media screen and (max-width:1082px) {
            max-width: 400px;

            @media screen and (max-width:844px) {
                max-width: 100%;

                @media screen and (max-width:600px) {

                    h2 {
                        font-size: 36px;

                        @media screen and (max-width:400px) {
                            font-size: 30px;
                        }
                    }

                    p {
                        font-size: 16px;

                        span {
                            font-size: 16px;
                        }
                    }
                }
            }

           
        }

    }

    .fromInput {
        width: 450px;

        @media screen and (max-width:844px) {
            width: 100%;

        }

    }
    .fromInputp{
        display: none;
        @media screen and (max-width:844px) {
            display: block;
            font-size: 16px;
            color: #FFF;
            text-align: center;
            font-family: Geometria;
            font-style: normal;
            font-weight: 400;
            line-height: 130%; /* 18.2px */
            @media screen and (max-width:450px) {
                font-size: 13px;
                
            }
        }
    }
}

.main {
    display: grid;
    gap: 60px;
    @media screen and (max-width:450px) {
        
        gap: 0px;
    }
}

.block4Images {
    position: relative;width: 561.763px;
    height: 400px;
    margin: 0 auto;

    @media screen and (max-width:760px) {
        width: 600px !important;
        height: 500px;

        @media screen and (max-width:668px) {
            width: 500px !important;
            height: 400px;

            @media screen and (max-width:560px) {
                width: 400px !important;
                height: 300px;

                @media screen and (max-width:450px) {
                    width: 300px !important;
                    height: 200px;
                }
            }
        }
    }
}
.block6Card{
    max-width: 100%;
    overflow: hidden;
}
.xf23{
    @media screen  and (max-width:978px) {
        display: none;
        
    }
}
.topTop{
    @media screen and (max-width:980px) {
        display: none !important;
    }
}