.Header{
    display: grid;

    row-gap: 60px;
    min-height: 700px;
    @media screen  and (max-width:450px) {
        row-gap: 30px;
    }
    
    .contend{
        display: grid;
        row-gap: 30px;
        max-width: 1200px;
        margin: 0 auto;
        .button{
            @media screen and (max-width:1219px) {
                margin: 0px 30px ;
            }
            display: flex;
            padding: 15px 60px;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;
            align-self: stretch;
            background: var(--Green, #009345);
            color: var(--White, #F5F5F5);
            text-align: center;
            font-family: Geometria;
            font-size: 16px;
            font-weight: 400;
            line-height: 130%; 
            max-width: 1200px;
            border: none;
            br{
                display: none;
            }
            @media screen and (max-width:630px) {
               br{
                display: none;
               }
               @media screen and (max-width:460px) {
                padding: 16px;
            br{
                display: block;
            }   
            }

            }
        }
        p{
            color: #000;
            font-family: Geometria;
            font-size: 16px;
          
            line-height: 130%;
            max-width: 1200px;
            @media screen  and  (max-width:1219px) {
                
            padding: 0px 30px;
            }
@media screen and (max-width:630px) {
    
    font-size: 20px;
@media screen and (max-width:430px) {
    font-size: 14px;
  
}
}
        }
  
    }
}