.BlockINfo {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width:923px) {
        display: grid;
        justify-content: center;
        row-gap: 60px;
        @media screen and (max-width:450px) {
            row-gap: 20px;
        }
    }

    .block2 {
        height: 212px;
        row-gap: 30px;
        display: grid !important;
        justify-items: start !important;
        @media screen and (max-width:450px) {
                height: auto;
        }
        @media screen and (max-width:450px) {
            row-gap: 15px;
        }

        h2 {
            color: var(--Black, #001A0C);

            /* Description */
            font-family: Geometria !important;
            font-size: 24px !important;
            font-style: normal !important;
            font-weight: 400 !important;
            line-height: 150% !important;
            margin-left: 1px !important;

            /* 36px */
            @media screen and (max-width:1145px) {
                font-size: 16px !important;

                @media screen and (max-width:450px) {
                    height: 20px;
                }
            }
            
        }

        div {
            display: grid;
            gap: 30px;

            @media screen and (max-width:450px) {
                row-gap: 0px;
                gap: 1px !important;
            }

            span {
                display: grid;
                grid-template-columns: 1fr 1fr;


                p {
                    max-width: 240px;
                    color: var(--Black, #001A0C);

                    /* Regular text */
                    font-family: Geometria;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    /* 24px */
                    list-style: none;
                }

                h4 {
                    max-width: 240px;
                    color: var(--Black, #001A0C);
                    font-family: Geometria;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    list-style: none;
                    // h4{
                    //     @media screen and (max-width:450px) {
                    //         color: var(--Black, #001A0C);

                    //     /* Regular text */
                    //     font-family: Geometria;
                    //     font-size: 16px;
                    //     font-style: normal;
                    //     font-weight: 400;
                    //     line-height: 130%; /* 20.8px */
                    //     }
                    // }
                }

            }

            h4 {
                @media screen and (max-width:450px) {
                    color: var(--Black, #001A0C);

                    /* Regular text */
                    font-family: Geometria;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;
                    /* 20.8px */
                }
            }
        }

        button {
            display: flex;
            padding: 15px 20px;
            align-items: flex-start;
            gap: 10px;
            align-self: stretch;
            background: var(--Green, #009345);

            width: 100%;
            text-align: center;
            justify-content: center;
            line-height: 150%;
            /* 24px */
            border: none;
            cursor: pointer;

            align-content: center;

            a {
                color: #FFF;
                text-align: center;

                /* Regular text */
                font-family: Geometria;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                text-decoration: none;
                padding-top: 6px;
            }
        }
    }
    .Items {
        position: relative;
        display: grid;
        row-gap: 40px;
        li {
            position: relative;
            display: flex;
            gap: 30px;
            align-content: flex-end;
            display: flex;
            align-items: top;
            @media screen and (max-width:450px) {
                align-items: center;
                gap: 15px;
            }
            .s {
                width: 10px;
                position: absolute;
                background: #009345;
                height: 107px;
                margin-left: 26px;
                margin-top: 24px;
                display: block;
                z-index: 1;
                @media screen and (max-width:450px) {
                    margin-left: 20px;
                    margin-top: 72px;
                }
            }

            svg {
                width: 60px;
                height: 60px;
                z-index: 2;

                filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.15));

                @media screen and (max-width:450px) {
                    width: 50px;
                    height: 50px;
                }
            }

            div {
                display: grid;
                row-gap: 10px;

                P {
                    color: #000;
                    font-family: Geometria;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;

                    /* 24px */
                    br {
                        display: none;

                        @media screen and (max-width:450px) {
                            display: block;
                        }
                    }
                }

                span {
                    color: #4D4D4D;
                    font-family: Geometria;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 100%;
                    /* 16px */
                }

                @media screen and (max-width:1145px) {
                    margin-left: 0px;

                    p {
                        color: #000;

                        /* Regular text */
                        font-family: Geometria;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%;
                        /* 20.8px */
                    }

                    span {
                        color: #808080;
                        font-family: Geometria;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 100%;
                        /* 16px */
                    }
                }
            }
        }
    }
}

.asdasda {
    display: none;
}

.button2 {
    display: none !important;
}

.button3 {
    display: none !important;
}