.table {
    width: 940px;
    background-color: #000;
margin: 0 auto;
    @media screen and (max-width:700px) {
        width: 900px;
        @media screen and (max-width:450px) {
            width: 600px;
        }

    }
    .block1 {
        width: 100%;

        tr {
            background: var(--Dark-Green, #003318);

            th {
                background: var(--Dark-Green, #003318);
                padding: 18px;
                justify-content: space-between;
                align-items: center;
                flex-shrink: 0;
                color: var(--White, #F5F5F5);
                text-align: center;
                font-family: Geometria;
                font-size: 16.8px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                @media screen and (max-width:450px) {
                    font-size: 10.8px;
                    padding: 18px 0px;
                    
                }
                /* 25.2px */
            }
        }
    }
    .block2 {
        padding: 0 auto;
        tr {
            background: var(--Green, #009345);
            color: var(--White, #F5F5F5);
            text-align: center;
            font-family: Geometria;
            font-size: 16.8px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            /* 25.2px */
            padding: 15px;
        }
        td {
            padding: 15px;
            width: 336px;
            @media screen and (max-width:450px) {
            font-size: 10.8px;  
            padding: 0px;
            height: 56px    ;
            }
        }
        .td4 {
            width: 25%;

            p {
                color: #F5F5F5 !important;
                font-size: 16px;
           @media screen and (max-width:450px) {
            font-size: 10px;  
            padding: 10px;
           }
            }
        }
    }
}
.tbw300{
    width: 35% !important;
    @media screen and (max-width:450px) {
        width: 180px;
    }
 
}