.footer{
    width: 100%;
    min-height: 100px;
    padding: 12px;
    background: var(--Black, #001A0C);
    color: #fff;

    .between{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    @media(max-width:800px){
        .container{
            width: 95%;
        }
    }
    .img{
        max-width: 30px;
        width: 100%;
        margin: 5px;
    }
    
    .primex p{
        color: #FFF;
        font-family: Geometria;
        font-size: 24px;
        font-weight: 400;
        line-height: 120%; 
        padding: 20px 0 ;
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
        grid-auto-flow: dense;
        gap: 30px;
        @media screen and (max-width:500px) {
            gap: 5px;
        }
    }
    .flex{
        display: flex;
        // gap: 40px;
    }
    
    li{
        list-style: none;
        padding: 0 0 14px;
        color: var(--White, #F5F5F5);
        font-family: Geometria;
        font-size: 17px;
        font-weight: 600;
        cursor: pointer;

        a{
            color: var(--White, #F5F5F5);
            font-family: Geometria;
            font-size: 17px;
            font-weight: 600;
            text-decoration: none;
        }
    }
    .btn{
        // max-width: 160px;
        width: 100%;
        padding: 10px 60px;
        color: #fff;
        background: var(--Green, #009345);
        margin-bottom: 10px;
        border: none;
        cursor: pointer;
        font-family: Geometria;
        font-size: 16px;
        font-weight: 400;
        line-height: 130%; 
        

       span{
        a{
            display: none;
        }
       } 
    }
    .ul_barskan{
        display: none;
    }
    .block{
        display: none;
    }
}



.container{
    max-width: 1200px; 
    width: 100%;
    margin: 50px auto ;
}
.none{
    margin-top: 40px;
}
@media screen and (max-width:500px) {
    .block{
        display: block!important;
    }
    .btn{
        display: inline;
       span{
        a{
            display: block!important;
            color: #FFF;
            font-family: Geometria;
            font-size: 16px;
            font-weight: 400;
            line-height: 130%; 
        }
    }
    }
    .none{
        display: none !important;
    }
    .ul_bar{
        display: none!important;
    }
    .ul_barskan{
        display: block!important;
    }
}



