.footer{
    width: 100%;
    padding: 60px 32px;
    background: var(--Black, #001A0C);
    color: #fff;

    .wrap{
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;

        .grid{
            display: grid;
            grid-template-columns: 3fr 1fr 1fr;
            // align-items: center;
            @media screen and (max-width:750px) {
                display: grid;
                grid-template-columns: 1fr;
            }

            .footer_start{
                width: 100%;

                h3{
                    font-family: Geometria;
                    font-size: 24px;
                    font-weight: 400;
                    padding: 30px 0 88px;

                    @media screen and (max-width:500px) {
                         font-size: 16px;
                    }
                }
                
                .footer_icons{
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    @media screen and (max-width:500px) {
                        position: relative;
                        top: 430px;
                    }
                }
            }
            .footer_midle{
                li{
                    list-style: none;
                    margin-bottom: 25px;
                    a{
                        color: var(--White, #F5F5F5);
                        font-family: Geometria;
                        font-size: 16px;
                        font-weight: 400;
                        text-decoration: none;
                        @media screen and (max-width:500px) {
                            font-size: 14px;
                        }
                    }
                }
            }
            .footer_end{
                width: 100%;
                @media screen and (max-width:500px) {
                    display: flex;
                    justify-content: space-between;
                }
                .footer_end_top{
                    margin-bottom: 13px;
                    @media screen and (max-width:500) {
                            margin-bottom: 100px;
                        
                        
                    }
                    li{
                        list-style: none;
                        padding-bottom: 20px; 
                        @media screen and (max-width:1000) {
                            padding-bottom: 9px!important;
                            text-align: center;
                            margin: 0 auto;
                        }
                        a{
                            color: var(--White, #F5F5F5);
                            font-family: Geometria;
                            font-size: 16px;
                            font-weight: 400;
                            text-decoration: none;
                            @media screen and (max-width:500px) {
                                font-size: 14px;
                            }

                            .btn{
                                span{
                                    display: none;

                                    @media screen and (max-width:500px) {
                                        display: block !important;
                                        color: #FFF;
                                        font-family: Geometria;
                                        font-size: 16px;
                                        font-weight: 400;
                                    }
                                }

                                width: 100%;
                                padding: 10px 60px;
                                background: var(--Green, #009345);
                                color: #FFF;
                                font-family: Geometria;
                                font-size: 16px;
                                font-weight: 400;
                                border: none;

                                @media screen and (max-width:500px) {
                                    color: #FFF;
                                    font-family: Geometria;
                                    font-size: 16px;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
                .footer_end_bottom{
                    li{
                        list-style: none;
                        padding-bottom: 10px;

                        a{
                            color: var(--White, #F5F5F5);
                            font-family: Geometria;
                            font-size: 16px;
                            font-weight: 400;
                            text-decoration: none;
                            @media screen and (max-width:500px) {
                                font-size: 14px;
                            }
                        }
                    }

                }
            }
        }
    }

}