.header {
    display: grid;
    row-gap: 60px;
    padding-top: 60px;
    overflow: hidden;
    padding-bottom: 60px;
@media screen and (max-width:450px) {
    row-gap: 30px;
}
    div {
        width: 100%;
        display: grid;
        row-gap: 30px;
    }
    


    span {
        display: flex;
        gap: 30px;
        @media screen and (max-width:539px) {
        display: grid           ;
        gap: 10px;
        }

        p {
            color: #000;

            /* Description */
            font-family: Geometria;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            /* 36px */

        }

        a {
            color: var(--Green, #009345);
            font-family: Geometria;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            /* 36px */
            text-decoration-line: underline;
        }

        @media screen and (max-width:688px) {
            p {
                font-size: 24px;
            }

            a {
                font-size: 16px;
                align-items: center;
                display: grid;
            }
        }
    }
}
.error{
    display: grid;
    justify-content: center;
    p{
        color: red;
    font-family: Geometria;
    font-size: 30px;
    font-weight: 400;    
    }
}
.Contend{
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
    }
    @media (max-width: 700px){
        .Contend{
        max-width: 1200px;
        margin: 0 auto;
        width: 90%;
    }
    }