.module {
    position: absolute;
    z-index: 5;

    background-color: #00000099;
    width: 100%;
    height: 100vh;
    margin-top: -124px;

    .block1 {
        background-color: #fff;
        height: 100vh;
        width: 70%;
        position: absolute;
        opacity: 1.6;
        right: 0;
        z-index: 8;
        text-align: right;
        padding: 30px;

        align-items: center;

        ul {
            opacity: 2;
            display: grid;


            row-gap: 15px;
            align-items: center;

            li {
                color: #000;
                text-align: right;
                cursor: pointer;

                /* Regular text */
                font-family: Geometria;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 150%;
                list-style: none;
                /* 24px */
                a{
                    text-decoration: none;
                    color: #000;
                }
            }
        }

        button {
            padding: 40px 0px;
            border: none;
            background-color: #0000;
cursor: pointer;
            svg {
                width: 23px;
                height: 23px;
            }
        }
    }
}