.button {
    display: flex;
    padding: 15px 60px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--Green, #009345);
    border: none;
    color: #fff;
    max-width: 360px;
    justify-content: center;
    margin: 0 auto;
    color: #FFF;
    font-family: Geometria1;
    font-size: 16px;
font-style: normal;
font-weight: 400 !important;
line-height: 130%; /* 20.8px */
@media screen and (max-width:450px) {
    height: 45px !important ;
    padding: 11px;
    font-weight: 400 !important  ;
    font-family :Geometria  !important;
}
}