.block {
    display: grid;
    row-gap: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (max-width:450px) {
        row-gap: 30px;
    }

    h2 {
        color: #000;
        text-align: center;

        /* H3 */
        font-family: Geometria1;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;

        @media screen and (max-width:1145px) {
            font-size: 36px;
            @media screen and (max-width:518px) {
             font-size: 24px;   
             font-family: Geometria;
             font-size: 600;
            }
        }

        /* 43.2px */
    }

    
}